.footer{
    background:#020617;
    color:#cbd5f5;
    padding:50px 16px;
}

.footer-top{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
}

h3,h4{color:#fff}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    border-top:1px solid #1e293b;
    padding-top:16px;
    font-size:14px;
}

@media(max-width:900px){
    .footer-top{grid-template-columns:1fr 1fr}
}

@media(max-width:500px){
    .footer-top{grid-template-columns:1fr}
}
