* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f7fc;
    min-height: 100px;
    color: #333;
    transition: opacity ease-in 0.2s;
    display: block;
}

.header {
    height: 60px;
    background: linear-gradient(50deg,rgb(45, 111, 226));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.header h1 {
    color: #ffffff;
    font-size: 28px;
}
.header .search {
    width: 400px;
}
.header .search input {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 8px;
    outline: none;
}

.header .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin: 10px;
    font-size: 18px;
}
.header .menu {
    display: none;
}

main {
    padding: 32px;
    max-width: 1200px;
}

.welcome {
    background: white;
    padding: 32px;
    border-radius: 12px;
    margin-bottom: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.welcome .progress-bar {
    margin-top: 8px;
    width: 180px;
    height: 10px;
    background: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
}

.welcome .progress-bar .progress-fill {
    height: 100%;
    width: 68%;
    background: #0d6efd;
}


.section-title {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
    color: rgb(45, 111, 226);
}

.grid {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
}

.card {
    width: 800px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0 10px 15px rgba(102, 102, 102, 0.186);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 220px;
    overflow: cover;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 700;
}

.card-body {
    text-align: left;
    margin: 0 20px;
    padding: 10px 0;
}
button {
    background-color: rgb(45, 111, 226);
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    transition: 0.3s;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(45, 111, 226);
    transform: translateY(-3px);
    transform: scale(1.1);
}
@media screen and (max-width:768px){
    .header {
        justify-content: space-between;
        padding: 20px;
    }
    .header .search {
        display: none;
    }
    .header .navigation {
        display: none;
    }
    .header .menu {
        display: block;
        color: #ffffff;
        font-size: 32px;
    }
    .welcome {
        flex-direction: columns;
        justify-content: center;
        text-align: center;
    }

    .grid .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .grid .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}
